body{
	background-image: url(../img/nature.jpg);
}
.m1{
	width: 80%;
	margin: 0 auto;
	height: 1000px;
	background-color: rgba(0,67,70,.7);
	/*position: relative;*/	
}
.m2 {
	
	margin: 50px auto;
	width: 60%; 
	color:white;
	height: 980px;
	text-align: center;
	border: 7px dotted white;
}
