body{
	background-image: url(../img/nature.jpg);
}
.m1{
	width: 80%;
	margin: 0 auto;
	height: 1000px;
	background-color:#335145;
	opacity:0.6;
	position: relative;	
}
.m2 {
	position: absolute;
	top:50px;
	right:260px;
	margin: 0 auto;
	width: 60%;
	color:white;
	text-align: center;
	border: 7px dotted white;
}