
@font-face
{
    font-family: 'BallparkWeiner';
    src: url('../fonts/ballpark.eot');
    src: url('../fonts/ballpark.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ballpark.woff') format('woff'),
         url('../fonts/ballpark.ttf') format('truetype'),
         url('../fonts/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('../fonts/dayrom.eot');
    src: url('../fonts/dayrom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dayrom.woff') format('woff'),
         url('../fonts/dayrom.ttf') format('truetype'),
         url('../fonts/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

#widthCont{
	margin: 0 auto;
	width: 900px;
}
body{
	background-image: url('../img/yellow.png');
}

body{
	/*font-family: 'Trebuchet MS', Arial, Sans-serif;*/
	color: #181818;
}
body p{

}
#t2 {
	margin: 0;
	padding: 0;
	font-size: 1.2em;
	font-weight: normal;
}
img, h1 {
	display: inline-block;
}
header h1{
	font-family: BallparkWeiner;
}

aside h1{
	font-family: 'Dayrom';
	text-transform: uppercase;
	font-weight: normal;
}

footer h1{
	font-family: 'Dayrom';
	text-transform: uppercase;
	font-weight: normal;
	font-size: 1.5em;
}

article h1{
	font-family: 'Dayrom';
	text-transform: uppercase;
	font-weight: normal;
}
nav ul li{
	list-style-type: none;
}
nav {
	text-align: center;
}
nav ul li{
	display: inline-block;
}
nav ul li a{
	display:inline-block;
	 color:black;
	 padding:20px; 
	 text-decoration:none;
	 font-family: 'Dayrom';
	 text-transform: uppercase;
	}
nav a:hover{
	border-bottom: 2px solid black;
}
.imageB{
	width: 947px;
	height: 221px;
	position: relative;
	box-shadow: 0px 0px 20px black;
}
.contr{
	position: absolute;
	width: 948px;
	top: 389px;
	background-color: rgba(0,0,0,0.4);
	height: 38px;
}
.col{
	color: white;
	position: absolute;
	top: 10px;
	width: 50%;

}
.contr a{
	color: white;
	padding: 5px 10px;
	float:right;
}
.cvt{
	width: 116px;
	position: absolute;
	height: 29px;
	right: 0px;
	top: 5px;
	background-image: url('../img/red.png')
}
.cvt a{
	text-decoration: none;
}

header{
	background: url('../img/L2.png') repeat-x bottom;
	width: 945px;
}
#q2{
    width: 99.5%;
    height: 33px;
    padding-top: 15px;
    padding-left: 4px; 
    font-size: 0.8em;
}
#q3 img
{
    border: 0;
}
.w2{
	vertical-align: middle;
    margin-right: 8px;
}
article, aside
{
    display: inline-block;
    vertical-align: top;
}

article
{
	padding: 0;
    width: 623px;
    margin-right: 66px;
}
article p
{
    font-size: 0.8em;
    text-align: justify;
}

aside
{
    position: relative;
    width: 235px;
    background-color: rgb(112,107,100);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 0.9em;
    text-align: center;
    }
#g1{
	width:950px;
}

#my{
	position: absolute;
	left: 45%;
}
.my_Class{
	width: 32%;
	
}
.pos{
	position: relative;
}

footer div {
	display: inline-block;
	vertical-align: top;
}
#myPic{
	width: 34%;
}
#arrow
{
    position: absolute;
    top: 100px;
    left: -12px;
}
ul li {
	list-style-image: url('../img/ik.png');
}

ul li a{
	color: red;
}

.my_friend{
	width: 32%;
}
.my_friend ul {
	display: inline-block;
	width: 35%;
	vertical-align: top;
}